<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{components/_include::include_main}"></th:block>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->

    <!-- ========================= header start ========================= -->
    <th:block th:replace="~{components/_header::header_main}"></th:block>
    <!-- ========================= header end ========================= -->

    <!-- Start Hero Area -->
    <main>
        <section class="hero-slider">
            <!-- Single Slider -->
            <div class="single-slider">
                <div class="container">
                    <div class="row ">
                        <div class="col-lg-6 co-12">
<!--                            한국어-->
                            <div class="home-slider" th:if="${language == 'kr'}">
                                <div class="hero-text">
                                    <span class="small-title wow fadeInUp" data-wow-delay=".3s">Business Solution</span>
                                    <h1><span>당신의 내일을 위해</span><br> 쉬는 날을 올바르게 시작하세요.</h1>
                                    <p>우리의 사명은 음식과 주거를 통해 깊은 휴식과 편안함을 제공하여<br>
                                        모든 사람들이 만족스러운 '활기찬 삶'을 누릴 수 있도록 함으로써<br>
                                        사람들에게 '좋은 아침'을 가져다 주는 것입니다.</p>
                                    <div class="button wow fadeInUp" data-wow-delay=".9s">
                                        <a href="/intro/overview" class="btn mouse-dir">더 알아보기 <span
                                                class="dir-part"></span></a>
                                    </div>
                                </div>
                                <div class="hero-text">
                                    <span class="small-title">Business Solution</span>
                                    <h1><span>당신의</span><br> 쉬는 날을 올바르게 시작하세요.</h1>
                                    <p>우리의 사명은 음식과 주거를 통해 깊은 휴식과 편안함을 제공하여<br>
                                        모든 사람들이 만족스러운 '활기찬 삶'을 누릴 수 있도록 함으로써<br>
                                        사람들에게 '좋은 아침'을 가져다 주는 것입니다.</p>
                                    <div class="button">
                                        <a href="/intro/overview" class="btn mouse-dir">더 알아보기 <span
                                                class="dir-part"></span></a>
                                    </div>
                                </div>
                                <div class="hero-text">
                                    <span class="small-title">Business Solution</span>
                                    <h1><span>당신의</span><br> 쉬는 날을 올바르게 시작하세요.</h1>
                                    <p>우리의 사명은 음식과 주거를 통해 깊은 휴식과 편안함을 제공하여<br>
                                        모든 사람들이 만족스러운 '활기찬 삶'을 누릴 수 있도록 함으로써<br>
                                        사람들에게 '좋은 아침'을 가져다 주는 것입니다.</p>
                                    <div class="button">
                                        <a href="/intro/overview" class="btn mouse-dir">더 알아보기 <span
                                                class="dir-part"></span></a>
                                    </div>
                                </div>
                            </div>
<!--                            영어-->
                            <div class="home-slider" th:if="${language == 'eng'}">
                                <div class="hero-text">
                                    <span class="small-title">Business Solution</span>
                                    <h1><span>We Provide Quality</span><br> Consulting Services</h1>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting <br> industry. Lorem
                                        Ipsum has been the industry's standard <br>dummy text ever since.</p>
                                    <div class="button">
                                        <a href="/intro/overview" class="btn mouse-dir">Learn More <span
                                                class="dir-part"></span></a>
                                    </div>
                                </div>
                                <div class="hero-text">
                                    <span class="small-title">Business Solution</span>
                                    <h1><span>We Provide Quality</span><br> Consulting Services</h1>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting <br> industry. Lorem
                                        Ipsum has been the industry's standard <br>dummy text ever since.</p>
                                    <div class="button">
                                        <a href="/intro/overview" class="btn mouse-dir">Learn More <span
                                                class="dir-part"></span></a>
                                    </div>
                                </div>
                                <div class="hero-text">
                                    <span class="small-title">Business Solution</span>
                                    <h1><span>We Provide Quality</span><br> Consulting Services</h1>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting <br> industry. Lorem
                                        Ipsum has been the industry's standard <br>dummy text ever since.</p>
                                    <div class="button">
                                        <a href="/intro/overview" class="btn mouse-dir">Learn More <span
                                                class="dir-part"></span></a>
                                    </div>
                                </div>
                            </div>
<!--                            일어-->
                            <div class="home-slider" th:if="${language == 'jp'}">
                                <div class="hero-text">
                                    <span class="small-title">ビジネスソリューション</span>
                                    <h1><span>品質を提供します</span><br> コンサルティングサービス</h1>
                                    <p>Lorem Ipsumは、印刷およびタイプセット業界のダミーテキストです。<br>
                                        Lorem Ipsumは業界の標準のダミーテキストとなっています。</p>
                                    <div class="button">
                                        <a href="/intro/overview" class="btn mouse-dir">詳細を見る <span
                                                class="dir-part"></span></a>
                                    </div>
                                </div>
                                <div class="hero-text">
                                    <span class="small-title">ビジネスソリューション</span>
                                    <h1><span>品質を提供します</span><br> コンサルティングサービス</h1>
                                    <p>Lorem Ipsumは、印刷およびタイプセット業界のダミーテキストです。<br>
                                        Lorem Ipsumは業界の標準のダミーテキストとなっています。</p>
                                    <div class="button">
                                        <a href="/intro/overview" class="btn mouse-dir">詳細を見る <span
                                                class="dir-part"></span></a>
                                    </div>
                                </div>
                                <div class="hero-text">
                                    <span class="small-title">ビジネスソリューション</span>
                                    <h1><span>品質を提供します</span><br> コンサルティングサービス</h1>
                                    <p>Lorem Ipsumは、印刷およびタイプセット業界のダミーテキストです。<br>
                                        Lorem Ipsumは業界の標準のダミーテキストとなっています。</p>
                                    <div class="button">
                                        <a href="/intro/overview" class="btn mouse-dir">詳細を見る <span
                                                class="dir-part"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ End Single Slider -->
        </section>
        <!--/ End Hero Area -->

        <!-- Start Features Area -->
        <section class="Features section" th:if="${language == 'kr'}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="feature-right wow fadeInUp" data-wow-delay=".3s">
                            <div class="watch-inner">
                                <div class="video-head wow zoomIn" data-wow-delay="0.4s">
                                    <a href="https://youtu.be/t0zB-fOuzEk" class="glightbox video"><i
                                            class="lni lni-play"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="feature-content">
                            <div class="title">
                                <span class="wow fadeInRight" data-wow-delay=".3s">Introduction</span>
                                <h3 class="wow fadeInRight" data-wow-delay=".5s">사업영역</h3>
                            </div>
                            <div class="feature-item wow fadeInUp" data-wow-delay=".5s">
                                <div class="feature-thumb">
                                    <i class="lni lni-bar-chart"></i>
                                </div>
                                <div class="banner-content">
                                    <h2 class="title">도미인</h2>
                                    <p>저희 비즈니스 호텔 체인은 기숙사 비즈니스의 노하우를 계승하여 "집과 같은 편안한 분위기"와 편안함을 제공합니다.
                                        스탠다드 비즈니스 호텔과 “온야도 노노” 등 일본식 프리미엄 브랜드 호텔을 운영하고 있습니다.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <ul class="building">
                        <li class="wow fadeInUp">
                            <figure>
                                <img src="/static/images/bizfinity/img_building-01.svg">
                            </figure>
                            <div class="caption">
                                <p class="category">
                                    <span>
                                        기숙사
                                    </span>
                                </p>
                                <p class="count">
                                    520
                                    <span>buildings</span>
                                </p>
                            </div>
                        </li>
                        <li class="wow fadeInUp">
                            <figure>
                                <img src="/static/images/bizfinity/img_building-02.svg">
                            </figure>
                            <div class="caption">
                                <p class="category">
                                    <span>
                                        도미인
                                    </span>
                                </p>
                                <p class="count">
                                    520
                                    <span>buildings</span>
                                </p>
                            </div>
                        </li>
                        <li class="wow fadeInUp">
                            <figure>
                                <img src="/static/images/bizfinity/img_building-03.svg">
                            </figure>
                            <div class="caption">
                                <p class="category">
                                    <span>
                                        리조트
                                    </span>
                                </p>
                                <p class="count">
                                    520
                                    <span>buildings</span>
                                </p>
                            </div>
                        </li>
                        <li class="wow fadeInUp">
                            <figure>
                                <img src="/static/images/bizfinity/img_building-04.svg">
                            </figure>
                            <div class="caption">
                                <p class="category">
                                    <span>
                                        노인주택
                                    </span>
                                </p>
                                <p class="count">
                                    520
                                    <span>buildings</span>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End Features Area -->
        <section class="Features section" th:if="${language == 'eng'}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="feature-right wow fadeInUp" data-wow-delay=".3s">
                            <div class="watch-inner">
                                <div class="video-head wow zoomIn" data-wow-delay="0.4s">
                                    <a href="https://youtu.be/t0zB-fOuzEk" class="glightbox video"><i
                                            class="lni lni-play"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="feature-content">
                            <div class="title">
                                <span class="wow fadeInRight" data-wow-delay=".3s">Introduction</span>
                                <h3 class="wow fadeInRight" data-wow-delay=".5s">Business Areas</h3>
                            </div>
                            <div class="feature-item wow fadeInUp" data-wow-delay=".5s">
                                <div class="feature-thumb">
                                    <i class="lni lni-bar-chart"></i>
                                </div>
                                <div class="banner-content">
                                    <h2 class="title">Dormy Inn</h2>
                                    <p>Our business hotel chain inherits the know-how of dormitory business, 
                                        offering a comfortable atmosphere akin to 'home' and providing relaxation. 
                                        We operate standard business hotels along with Japanese-style premium brand hotels such as 'Onyado Nono.'</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <ul class="building">
                        <li class="wow fadeInUp">
                            <figure>
                                <img src="/static/images/bizfinity/img_building-01.svg">
                            </figure>
                            <div class="caption">
                                <p class="category">
                            <span>
                                Dormitories
                            </span>
                                </p>
                                <p class="count">
                                    520
                                    <span>buildings</span>
                                </p>
                            </div>
                        </li>
                        <li class="wow fadeInUp">
                            <figure>
                                <img src="/static/images/bizfinity/img_building-02.svg">
                            </figure>
                            <div class="caption">
                                <p class="category">
                            <span>
                                Dormitories
                            </span>
                                </p>
                                <p class="count">
                                    520
                                    <span>buildings</span>
                                </p>
                            </div>
                        </li>
                        <li class="wow fadeInUp">
                            <figure>
                                <img src="/static/images/bizfinity/img_building-03.svg">
                            </figure>
                            <div class="caption">
                                <p class="category">
                            <span>
                                Resorts
                            </span>
                                </p>
                                <p class="count">
                                    520
                                    <span>buildings</span>
                                </p>
                            </div>
                        </li>
                        <li class="wow fadeInUp">
                            <figure>
                                <img src="/static/images/bizfinity/img_building-04.svg">
                            </figure>
                            <div class="caption">
                                <p class="category">
                            <span>
                                Elderly Housing
                            </span>
                                </p>
                                <p class="count">
                                    520
                                    <span>buildings</span>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="Features section" th:if="${language == 'jp'}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="feature-right wow fadeInUp" data-wow-delay=".3s">
                            <div class="watch-inner">
                                <div class="video-head wow zoomIn" data-wow-delay="0.4s">
                                    <a href="https://youtu.be/t0zB-fOuzEk" class="glightbox video"><i
                                            class="lni lni-play"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="feature-content">
                            <div class="title">
                                <span class="wow fadeInRight" data-wow-delay=".3s">イントロダクション</span>
                                <h3 class="wow fadeInRight" data-wow-delay=".5s">事業領域</h3>
                            </div>
                            <div class="feature-item wow fadeInUp" data-wow-delay=".5s">
                                <div class="feature-thumb">
                                    <i class="lni lni-bar-chart"></i>
                                </div>
                                <div class="banner-content">
                                    <h2 class="title">ドーミー</h2>
                                    <p>私たちのビジネスホテルチェーンは、寮ビジネスのノウハウを継承し、
                                        「家と同じくらい快適な雰囲気」と快適さを提供しています。
                                        スタンダードなビジネスホテルと「おんやどのの」など、日本式プレミアムブランドホテルを運営しています。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <ul class="building">
                        <li class="wow fadeInUp">
                            <figure>
                                <img src="/static/images/bizfinity/img_building-01.svg">
                            </figure>
                            <div class="caption">
                                <p class="category">
                            <span>
                                寮
                            </span>
                                </p>
                                <p class="count">
                                    520
                                    <span>棟</span>
                                </p>
                            </div>
                        </li>
                        <li class="wow fadeInUp">
                            <figure>
                                <img src="/static/images/bizfinity/img_building-02.svg">
                            </figure>
                            <div class="caption">
                                <p class="category">
                            <span>
                                ドミトリー
                            </span>
                                </p>
                                <p class="count">
                                    520
                                    <span>棟</span>
                                </p>
                            </div>
                        </li>
                        <li class="wow fadeInUp">
                            <figure>
                                <img src="/static/images/bizfinity/img_building-03.svg">
                            </figure>
                            <div class="caption">
                                <p class="category">
                            <span>
                                リゾート
                            </span>
                                </p>
                                <p class="count">
                                    520
                                    <span>棟</span>
                                </p>
                            </div>
                        </li>
                        <li class="wow fadeInUp">
                            <figure>
                                <img src="/static/images/bizfinity/img_building-04.svg">
                            </figure>
                            <div class="caption">
                                <p class="category">
                            <span>
                                老人住宅
                            </span>
                                </p>
                                <p class="count">
                                    520
                                    <span>棟</span>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>


        <!-- Start Service Area -->
        <section class="services section" th:if="${language == 'kr'}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 col-12">
                        <div class="section-title">
                            <span class="wow fadeInDown" data-wow-delay=".2s">About Us</span>
                            <h2 class="wow fadeInUp" data-wow-delay=".4s">기업 활동</h2>
                            <p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="single-service wow fadeInUp" data-wow-delay=".2s">
                            <div class="serial">
                                <span><i class="lni lni-code"></i></span>
                            </div>
                            <h3><a href="service-single.html">기업 IR</a></h3>
                            <p>Need A Project Completed By An Expert? Let’s Go! Access A Human Resources Consultant To Answer Questions</p>
                            <div class="circles-wrap">
                                <div class="circles">
                                    <span class="circle circle-1"></span>
                                    <span class="circle circle-2"></span>
                                    <span class="circle circle-3"></span>
                                    <span class="circle circle-4"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="single-service wow fadeInUp" data-wow-delay=".3s">
                            <div class="serial">
                                <span><i class="lni lni-vector"></i></span>
                            </div>
                            <h3><a href="service-single.html">그룹사</a></h3>
                            <p>Need A Project Completed By An Expert? Let’s Go! Access A Human Resources Consultant To Answer Questions</p>
                            <div class="circles-wrap">
                                <div class="circles">
                                    <span class="circle circle-1"></span>
                                    <span class="circle circle-2"></span>
                                    <span class="circle circle-3"></span>
                                    <span class="circle circle-4"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="single-service wow fadeInUp" data-wow-delay=".5s">
                            <div class="serial">
                                <span><i class="lni lni-keyword-research"></i></span>
                            </div>
                            <h3><a href="service-single.html">기업성장</a></h3>
                            <p>Need A Project Completed By An Expert? Let’s Go! Access A Human Resources Consultant To Answer Questions</p>
                            <div class="circles-wrap">
                                <div class="circles">
                                    <span class="circle circle-1"></span>
                                    <span class="circle circle-2"></span>
                                    <span class="circle circle-3"></span>
                                    <span class="circle circle-4"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="single-service wow fadeInUp" data-wow-delay=".6s">
                            <div class="serial">
                                <span><i class="lni lni-seo"></i></span>
                            </div>
                            <h3><a href="service-single.html">채용</a></h3>
                            <p>Need A Project Completed By An Expert? Let’s Go! Access A Human Resources Consultant To Answer Questions</p>
                            <div class="circles-wrap">
                                <div class="circles">
                                    <span class="circle circle-1"></span>
                                    <span class="circle circle-2"></span>
                                    <span class="circle circle-3"></span>
                                    <span class="circle circle-4"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /End Services Area -->

        <section class="services section" th:if="${language == 'eng'}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 col-12">
                        <div class="section-title">
                            <span class="wow fadeInDown" data-wow-delay=".2s">About Us</span>
                            <h2 class="wow fadeInUp" data-wow-delay=".4s">Corporate Activities</h2>
                            <p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="single-service wow fadeInUp" data-wow-delay=".2s">
                            <div class="serial">
                                <span><i class="lni lni-code"></i></span>
                            </div>
                            <h3><a href="service-single.html">Corporate IR</a></h3>
                            <p>Need A Project Completed By An Expert? Let’s Go! Access A Human Resources Consultant To Answer Questions</p>
                            <div class="circles-wrap">
                                <div class="circles">
                                    <span class="circle circle-1"></span>
                                    <span class="circle circle-2"></span>
                                    <span class="circle circle-3"></span>
                                    <span class="circle circle-4"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="single-service wow fadeInUp" data-wow-delay=".3s">
                            <div class="serial">
                                <span><i class="lni lni-vector"></i></span>
                            </div>
                            <h3><a href="service-single.html">Group Companies</a></h3>
                            <p>Need A Project Completed By An Expert? Let’s Go! Access A Human Resources Consultant To Answer Questions</p>
                            <div class="circles-wrap">
                                <div class="circles">
                                    <span class="circle circle-1"></span>
                                    <span class="circle circle-2"></span>
                                    <span class="circle circle-3"></span>
                                    <span class="circle circle-4"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="single-service wow fadeInUp" data-wow-delay=".5s">
                            <div class="serial">
                                <span><i class="lni lni-keyword-research"></i></span>
                            </div>
                            <h3><a href="service-single.html">Corporate Growth</a></h3>
                            <p>Need A Project Completed By An Expert? Let’s Go! Access A Human Resources Consultant To Answer Questions</p>
                            <div class="circles-wrap">
                                <div class="circles">
                                    <span class="circle circle-1"></span>
                                    <span class="circle circle-2"></span>
                                    <span class="circle circle-3"></span>
                                    <span class="circle circle-4"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="single-service wow fadeInUp" data-wow-delay=".6s">
                            <div class="serial">
                                <span><i class="lni lni-seo"></i></span>
                            </div>
                            <h3><a href="service-single.html">Recruitment</a></h3>
                            <p>Need A Project Completed By An Expert? Let’s Go! Access A Human Resources Consultant To Answer Questions</p>
                            <div class="circles-wrap">
                                <div class="circles">
                                    <span class="circle circle-1"></span>
                                    <span class="circle circle-2"></span>
                                    <span class="circle circle-3"></span>
                                    <span class="circle circle-4"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="services section" th:if="${language == 'jp'}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 col-12">
                        <div class="section-title">
                            <span class="wow fadeInDown" data-wow-delay=".2s">私たちについて</span>
                            <h2 class="wow fadeInUp" data-wow-delay=".4s">企業活動</h2>
                            <p class="wow fadeInUp" data-wow-delay=".6s">Lorem Ipsumには多くの変種がありますが、そのほとんどは何らかの形で変更されています。</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="single-service wow fadeInUp" data-wow-delay=".2s">
                            <div class="serial">
                                <span><i class="lni lni-code"></i></span>
                            </div>
                            <h3><a href="service-single.html">企業IR</a></h3>
                            <p>専門家によって完了されたプロジェクトが必要ですか？行くぞ！質問に答えるために人事コンサルタントにアクセス</p>
                            <div class="circles-wrap">
                                <div class="circles">
                                    <span class="circle circle-1"></span>
                                    <span class="circle circle-2"></span>
                                    <span class="circle circle-3"></span>
                                    <span class="circle circle-4"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="single-service wow fadeInUp" data-wow-delay=".3s">
                            <div class="serial">
                                <span><i class="lni lni-vector"></i></span>
                            </div>
                            <h3><a href="service-single.html">グループ企業</a></h3>
                            <p>専門家によって完了されたプロジェクトが必要ですか？行くぞ！質問に答えるために人事コンサルタントにアクセス</p>
                            <div class="circles-wrap">
                                <div class="circles">
                                    <span class="circle circle-1"></span>
                                    <span class="circle circle-2"></span>
                                    <span class="circle circle-3"></span>
                                    <span class="circle circle-4"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="single-service wow fadeInUp" data-wow-delay=".5s">
                            <div class="serial">
                                <span><i class="lni lni-keyword-research"></i></span>
                            </div>
                            <h3><a href="service-single.html">企業の成長</a></h3>
                            <p>専門家によって完了されたプロジェクトが必要ですか？行くぞ！質問に答えるために人事コンサルタントにアクセス</p>
                            <div class="circles-wrap">
                                <div class="circles">
                                    <span class="circle circle-1"></span>
                                    <span class="circle circle-2"></span>
                                    <span class="circle circle-3"></span>
                                    <span class="circle circle-4"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="single-service wow fadeInUp" data-wow-delay=".6s">
                            <div class="serial">
                                <span><i class="lni lni-seo"></i></span>
                            </div>
                            <h3><a href="service-single.html">採用</a></h3>
                            <p>専門家によって完了されたプロジェクトが必要ですか？行くぞ！質問に答えるために人事コンサルタントにアクセス</p>
                            <div class="circles-wrap">
                                <div class="circles">
                                    <span class="circle circle-1"></span>
                                    <span class="circle circle-2"></span>
                                    <span class="circle circle-3"></span>
                                    <span class="circle circle-4"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section free-version-banner">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-5 col-lg-7">
                        <div class="section-title mb-60">
                            <span class="text-white wow fadeInDown" data-wow-delay=".2s"style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">
                                CM Gallery
                            </span>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-5">
                        <div class="contact-btn text-right text-lg-right button wow fadeInRight" data-wow-delay=".8s">
                            <a href="https://rebrand.ly/bizfinity-gg" rel="nofollow" class="btn mouse-dir">Purchase Now
                                <span class="dir-part"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Start Clients Area -->
        <section class="client-logo-section">
            <div class="container">
                <div class="client-logo-wrapper">
                    <div class="client-logo-carousel d-flex align-items-center justify-content-between">
                        <div class="client-logo">
                            <img src="/static/images/bizfinity/client1.png" alt="">
                        </div>
                        <div class="client-logo">
                            <img src="/static/images/bizfinity/client2.png" alt="">
                        </div>
                        <div class="client-logo">
                            <img src="/static/images/bizfinity/client3.png" alt="">
                        </div>
                        <div class="client-logo">
                            <img src="/static/images/bizfinity/client4.png" alt="">
                        </div>
                        <div class="client-logo">
                            <img src="/static/images/bizfinity/client5.png" alt="">
                        </div>
                        <div class="client-logo">
                            <img src="/static/images/bizfinity/client2.png" alt="">
                        </div>
                        <div class="client-logo">
                            <img src="/static/images/bizfinity/client3.png" alt="">
                        </div>
                        <div class="client-logo">
                            <img src="/static/images/bizfinity/client4.png" alt="">
                        </div>
                        <div class="client-logo">
                            <img src="/static/images/bizfinity/client5.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Clients Area -->
    </main>

    <!-- Start Footer Area -->
    <th:block th:replace="~{components/_footer::footer_main}"></th:block>
    <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="/static/js/main/template/bootstrap.min.js"></script>
    <script src="/static/js/main/template/count-up.min.js"></script>
    <script src="/static/js/main/template/wow.min.js"></script>
    <script src="/static/js/main/template/tiny-slider.js"></script>
    <script src="/static/js/main/template/glightbox.min.js"></script>
    <script src="/static/js/main/template/imagesloaded.min.js"></script>
    <script src="/static/js/main/template/isotope.min.js"></script>
    <script src="/static/js/main/template/main.js"></script>
</body>

</html>