<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="passwordModalLabel">비밀번호 변경</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="modal-header modal-title-desc">
            <div><i class="fas fa-exclamation-circle"></i><span class="icon-title modal-ext-desc"> 이용 안내<br>
					- 비밀번호는 영문자, 숫자, 특수문자 포함 8자 이상 20자이내로 사용 가능합니다.
				</span>
            </div>
        </div>
        <div class="modal-body">
            <form id="passwordForm">
                <input type="text" id="username" autocomplete="username" class="hide">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="modify_password">
                                <i class="fas fa-key"></i>
                                <span class="icon-title">기존 비밀번호</span>
                            </label>
                            <input type="password" class="form-control param" id="modify_password" name="password"
                                   autocomplete="new-password" aria-describedby="invalid_modify_password">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="new_password">
                                <i class="fas fa-lock"></i>
                                <span class="icon-title">새 비밀번호</span>
                            </label>
                            <input type="password" class="form-control param" id="new_password" name="new_password"
                                   autocomplete="new-password">
                            <div class="valid-feedback">
                                사용 가능한 비밀번호 입니다.
                            </div>
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="new_password_confirm">
                                <i class="fas fa-lock"></i>
                                <span class="icon-title">새 비밀번호 확인</span>
                            </label>
                            <input type="password" class="form-control param" id="new_password_confirm"
                                   name="new_password_confirm" autocomplete="new-password"/>
                            <div class="valid-feedback">
                                새 비밀번호와 일치합니다.
                            </div>
                            <div class="invalid-feedback">
                                입력하신 새 비밀번호와 일치하지 않습니다!
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-round btn-primary btn-update mr-1" role="action" data-action="send">
                <div class="pen-container">
                    <span class="pen"><span></span></span>
                    <i></i>
                </div>
                <span class="icon-title">수정</span>
            </button>
        </div>
    </div>
</div>