spring:
  # 정적 리소스 위치 설정
  mvc:
    static-path-pattern: /static/**
  # 파일 업로드 크기 제한
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 60MB
  # thymeleaf 설정
  thymeleaf:
    cache: false
    enabled: true
    prefix: classpath:/templates/
    suffix: .html
  # profile 설정
  profiles:
    active:
      # application-postgresql.yml
      - postgresql
  # datasource 설정
  datasource:
    # DB 연결 관리자 설정
    hikari:
      # max connection = 1
      maximum-pool-size: 1
      auto-commit: true
  # devtools 설정
  devtools:
    livereload:
      enabled: true
    restart:
      enabled: true

# Server configuration
server:
  port: 80

# Logging configuration
logging:
  level:
    root: INFO
    # root: DEBUG

# Application information
system:
  name: Kyoritsu
  version: 1.0.0
  initPwd: nicom123.
