<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{components/_include::include_manager}"></th:block>
<body class="g-sidenav-show">
<th:block th:replace="~{components/_side::side_manager}"></th:block>
<main class="main-content position-relative h-100 border-radius-lg">
    <th:block th:replace="~{components/_header::header_manager}"></th:block>
    <input type="hidden" class="param" name="key" th:value="${key}"/>

    <div class="container-fluid page-container" id="container-detail">
        <div class="card" id="page-container-detail">
            <div class="card-header card-header-primary" th:if="${key != null}">
                <h4 class="card-title">채용공고 수정</h4>
                <p class="card-category ellipsis">
                    <i class="fas fa-arrow-right"></i>
                    <span class="icon-title">채용공고 수정 페이지입니다.</span>
                </p>
            </div>
            <div class="card-header card-header-primary" th:if="${key == null}">
                <h4 class="card-title">채용공고 추가</h4>
                <p class="card-category ellipsis">
                    <i class="fas fa-arrow-right"></i>
                    <span class="icon-title">채용공고 추가 페이지입니다.</span>
                </p>
            </div>
            <div class="card-body">
                <table class="pageSubTable" th:if="${key == null}">
                    <colgroup>
                        <col width="10%"/>
                        <col width="15%"/>
                        <col width="10%"/>
                        <col width="15%"/>
                        <col width="10%"/>
                        <col width="15%"/>
                        <col width="10%"/>
                        <col width="15%"/>
                    </colgroup>
                    <tr class="pageSub">
                        <td><label for="category">카테고리</label></td>
                        <td>
                            <select id="category" name="category" class="form-select">
                                <option value="dormyinn">도미인 호텔</option>
                            </select>
                        </td>
                        <td><label for="support">지원분야</label></td>
                        <td>
                            <select id="support" name="support" class="form-select">
                            </select>
                        </td>
                        <td><label for="experience">경력여부</label></td>
                        <td>
                            <select id="experience" name="experience" class="form-select">
                                <option value="newcomer">신입</option>
                                <option value="career">경력</option>
                                <option value="Synthesis">신입/경력</option>
                            </select>
                        </td>
                        <td><label for="fulltime">계약방식</label></td>
                        <td>
                            <select id="fulltime" name="fulltime" class="form-select">
                                <option value="fulltime">정규직</option>
                                <option value="contract">계약직</option>
                            </select>
                        </td>
                    </tr>
                    <tr class="pageSub">
                        <td><label for="title">제목</label></td>
                        <td colspan="7"><input type="text" id="title" name="title" class="form-control"></td>
                    </tr>
                    <tr class="pageSub">
<!--                        <td><label for="notice_period">공고기간</label></td>-->
<!--                        <td><input type="text" id="notice_period" name="notice_period"></td>-->
                        <td><label for="Datefrom">시작일</label></td>
                        <td colspan="3"><input type="Date" name="Datefrom" id="Datefrom" autocomplete="off" class="form-control"></td>
                        <td><label for="Dateto">종료일</label></td>
                        <td colspan="3"><input type="Date" name="Dateto" id="Dateto" autocomplete="off" class="form-control"></td>
                    </tr>
                    <tr class="pageSub">
                        <td><label for="contents">본문</label></td>
                        <td colspan="8">
                            <textarea class="form-control" name="contents" id="contents" rows="10" cols="100" ></textarea>
                        </td>
                    </tr>
                    <tr class="pageSub">
                        <td><label for="management">관리</label></td>
                        <td colspan="5"><div type="text" id="management" name="management">
                            <button class="btn btn-round btn-success bg-gradient-success" role="action" data-action="list">
                                <i class="fas fa-list"></i><span class="icon-title">목록</span>
                            </button>
                            <button class="btn btn-round btn-primary bg-gradient-primary" role="action" data-action="add">
                                <i class="fas fa-plus"></i><span class="icon-title">저장</span>
                            </button>
                            <!-- <button class="btn btn-round btn-danger bg-gradient-danger" role="action" data-action="delete">
                                <i class="fas fa-trash"></i><span class="icon-title">삭제</span>
                            </button> -->
                        </div>
                        </td>
                    </tr>
                </table>

                <table class="pageSubTable" th:if="${key != null}">
                    <colgroup>
                        <col width="10%"/>
                        <col width="15%"/>
                        <col width="10%"/>
                        <col width="15%"/>
                        <col width="10%"/>
                        <col width="15%"/>
                        <col width="10%"/>
                        <col width="15%"/>
                    </colgroup>
                    <tr class="pageSub">
                        <td><label for="category">카테고리</label></td>
                        <td>
                            <select id="category" name="category" class="form-select">
                                <option value="dormyinn">도미인 호텔</option>
                            </select>
                        </td>
                        <td><label for="support">지원분야</label></td>
                        <td>
                            <select id="support" name="support" class="form-select">
                            </select>
                        </td>
                        <td><label for="experience">경력여부</label></td>
                        <td>
                            <select id="experience" name="experience" class="form-select">
                                <option value="newcomer">신입</option>
                                <option value="career">경력</option>
                                <option value="Synthesis">신입/경력</option>
                            </select>
                        </td>
                        <td><label for="fulltime">계약방식</label></td>
                        <td>
                            <select id="fulltime" name="fulltime" class="form-select">
                                <option value="fulltime">정규직</option>
                                <option value="contract">계약직</option>
                            </select>
                        </td>
                    </tr>
                    <tr class="pageSub">
                        <td><label for="title">제목</label></td>
                        <td colspan="7"><input type="text" id="title" name="title" class="form-control"></td>
                    </tr>
                    <tr class="pageSub">
                        <!--                        <td><label for="notice_period">공고기간</label></td>-->
                        <!--                        <td><input type="text" id="notice_period" name="notice_period"></td>-->
                        <td><label for="Datefrom">시작일</label></td>
                        <td colspan="3"><input type="Date" name="Datefrom" id="Datefrom" autocomplete="off" class="form-control"></td>
                        <td><label for="Dateto">종료일</label></td>
                        <td colspan="3"><input type="Date" name="Dateto" id="Dateto" autocomplete="off" class="form-control"></td>
                    </tr>
                    <tr class="pageSub">
                        <td><label for="contents">본문</label></td>
                        <td colspan="8">
                            <textarea class="form-control" name="contents" id="contents" rows="10" cols="100" ></textarea>
                        </td>
                    </tr>
                    <tr class="pageSub">
                        <td><label for="management">관리</label></td>
                        <td colspan="5"><div type="text" id="management" name="management">
                            <button class="btn btn-round btn-success bg-gradient-success" role="action" data-action="list">
                                <i class="fas fa-list"></i><span class="icon-title">목록</span>
                            </button>
                            <button class="btn btn-round btn-primary bg-gradient-primary" role="action" data-action="update" th:if="${key != null}">
                                <i class="fas fa-plus"></i><span class="icon-title">수정</span>
                            </button>
                            <button class="btn btn-round btn-danger bg-gradient-danger" role="action" data-action="delete">
                                <i class="fas fa-trash"></i><span class="icon-title">삭제</span>
                            </button>
                        </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</main>
<th:block th:replace="~{components/_footer::footer_manager}"></th:block>
<script type="text/javascript" src="/static/js/admin/page/detail/job.js"></script>
<script type="text/javascript" src="/static/js/smartEditor/js/HuskyEZCreator.js" charset="utf-8"></script>
</body>