<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{components/_include::include_main}"></th:block>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->

    <!-- ========================= header start ========================= -->
    <th:block th:replace="~{components/_header::header_main}"></th:block>
    <!-- ========================= header end ========================= -->

    <input type="hidden" id="dormitory_contentId" class="param contentId" name="key"/>

    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-content">
                        <ul class="breadcrumb-nav">
                            <li><a href="../">Home</a></li>
                            <li><a href="">사업영역</a></li>
                            <li>기숙사</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-content title">
                        <h1 class="page-title">사업영역</h1>
                        <p>Business plan draws on a wide range of knowledge from different business disciplines. Business draws on a wide range of different business .</p>
                    </div>
                    <div class="blank">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

	<!-- Start Features Area -->
    <main>
        <section id="dormitory-section" class="dormitory section">
            <div class="editor-content container">
                <div class="flex-box">
                    <div class="box-1 inview animated fadeInUp">
                        <h2 class="sec-title">
                            <p class="en">기숙사</p>
                        </h2>
                    </div>
                    <div class="box-2 inview animated fadeInUp">
                        <div class="profile profile-1">
                            <div class="profile-link-1">
                                Dormy inn business <br><br>
                                （Business hotel）
                            </div>
                            <div class="profile-link-2">
                                <br>
                                <a>The best business hotel for providing relaxation</a>
                            </div>
                            <div class="profile-link-3">
                                <a>Our business hotel chain inherits the dormitory business expertise and </a>
                                <a>provides a "relaxing atmosphere like home" and comfort. We operate</a>
                                <a>standard business hotels and Japanese-style premium brand hotels such as</a>
                                <a>"Onyado Nono".</a>
                            </div>
                        </div>
                        <div class="profile profile-2">
                            <img src="/static/images/main/dormitory.jpg" alt="Images">
                        </div>
                    </div>
                    <div class="box-3 inview animated fadeInUp-2">
                        <div>
                            <img src="/static/images/main/logo_dormy.png" alt="Images">
                        </div>
                    </div>
                    <div class="box-4 inview animated fadeInUp-2">
                        <div class="profile-content-1">
                            Business <br>
                            Features
                        </div>
                        <div class="profile-content-2">
                            ・Clean and comfortable rooms<br>
                            ・Fully equipped with a relaxing large communal bath like hot springs<br>
                            ・Specially made breakfast is prepared using local food ingredients<br>
                            ・Free Yonaki Soba (complementary ramen noodles)<br>
                        </div>
                    </div>
                    <div class="box-5 inview animated fadeInUp-2">
                        <div>
                            We go beyond the common notions of business hotels to care for customers’ relaxation so that customers can reset their fatigue from work just like at home even<br>
                            on business trips or at travel destinations.<br>
                            The business hotel “Dormy Inn” was born from such concept of valuing ‘the sense of living at home.’.
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="editor-content container">
                <div class="flex-box">
                    <div class="box-2 inview animated fadeInUp">
                        <div class="profile profile-1">
                            <div class="profile-link-1">
                                Dormy inn business <br><br>
                                （Business hotel）
                            </div>
                            <div class="profile-link-2">
                                <br>
                                <a>The best business hotel for providing relaxation</a>
                            </div>
                            <div class="profile-link-3">
                                <a>Our business hotel chain inherits the dormitory business expertise and </a>
                                <a>provides a "relaxing atmosphere like home" and comfort. We operate</a>
                                <a>standard business hotels and Japanese-style premium brand hotels such as</a>
                                <a>"Onyado Nono".</a>
                            </div>
                        </div>
                        <div class="profile profile-2">
                            <img src="/static/images/main/dormitory.jpg" alt="Images">
                        </div>
                    </div>
                    <div class="box-3 inview animated fadeInUp-2">
                        <div>
                            <img src="/static/images/main/logo_dormy.png" alt="Images">
                        </div>
                    </div>
                    <div class="box-4 inview animated fadeInUp-2">
                        <div class="profile-content-1">
                            Business <br>
                            Features
                        </div>
                        <div class="profile-content-2">
                            ・Clean and comfortable rooms<br>
                            ・Fully equipped with a relaxing large communal bath like hot springs<br>
                            ・Specially made breakfast is prepared using local food ingredients<br>
                            ・Free Yonaki Soba (complementary ramen noodles)<br>
                        </div>
                    </div>
                    <div class="box-5 inview animated fadeInUp-2">
                        <div>
                            We go beyond the common notions of business hotels to care for customers’ relaxation so that customers can reset their fatigue from work just like at home even<br>
                            on business trips or at travel destinations.<br>
                            The business hotel “Dormy Inn” was born from such concept of valuing ‘the sense of living at home.’.
                        </div>
                    </div>
                </div>
            </div> -->
        </section>
    </main>
    <!-- /End Newsletter Area -->

    <!-- Start Footer Area -->
    <th:block th:replace="~{components/_footer::footer_main}"></th:block>
    <!--/ End Footer Area -->


    <!-- ========================= JS here ========================= -->
    <script src="/static/js/main/template/bootstrap.min.js"></script>
    <script src="/static/js/main/template/count-up.min.js"></script>
    <script src="/static/js/main/template/wow.min.js"></script>
    <script src="/static/js/main/template/tiny-slider.js"></script>
    <script src="/static/js/main/template/glightbox.min.js"></script>
    <script src="/static/js/main/template/imagesloaded.min.js"></script>
    <script src="/static/js/main/template/isotope.min.js"></script>
    <script src="/static/js/main/template/main.js"></script>

    <script type="text/javascript" src="/static/js/main/page/business/dormitory.js"></script>
  </body>
</html>