<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{components/_include::include_main}"></th:block>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->

    <!-- ========================= header start ========================= -->
    <th:block th:replace="~{components/_header::header_main}"></th:block>
    <!-- ========================= header end ========================= -->

    <input type="hidden" id="seniorlife_contentId" class="param contentId" name="key"/>

    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-content">
                        <ul class="breadcrumb-nav">
                            <li><a href="../">Home</a></li>
                            <li><a href="">사업영역</a></li>
                            <li>노인주택</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-content title">
                        <h1 class="page-title">사업영역</h1>
                        <p>Business plan draws on a wide range of knowledge from different business disciplines. Business draws on a wide range of different business .</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-content center">
                        <button type="button" onclick="location.href='/business/dormitory'">기숙사</button>
                        <button type="button" onclick="location.href='/business/dormyinn'">도미인</button>
                        <button type="button" onclick="location.href='/business/resort'">리조트</button>
                        <button type="button" onclick="location.href='/business/seniorlife'">노인주택</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

	<!-- Start Features Area -->
    <main>
        <section id="business-section" class="business section">
            <div class="editor-content container">
                <div class="flex-box">
                    <div class="box-1 inview animated fadeInUp">
                        <h2 class="sec-title">
                            <p class="en">기숙사</p>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="editor-content container">
                <div class="flex-box">
                    <div class="box-2 inview animated fadeInUp">
                        <div class="profile profile-1">
                            <div class="profile-link-1">
                                Dormitory business <br><br>
                                （Student Dormitories・Employee dormitories)
                            </div>
                            <div class="profile-link-2">
                                <br>
                                <a>Secure housing with our devotion to the</a>
                                <a>spirit of "welcome home"</a>
                            </div>
                            <div class="profile-link-3">
                                <a>Since the foundation, Kyoritsu Maintenance Co., Ltd. has run student </a>
                                <a>dormitories/employee dormitories businesses. Currently, the scope of </a>
                                <a>dormitories has expanded to international exchange dormitories, various </a>
                                <a>theme-based dormitories and adaptations to a wide </a>
                                <a>range of styles, with over 500 dormitories throughout Japan.</a>
                            </div>
                        </div>
                        <div class="profile profile-2">
                            <img src="/static/images/main/seniorlife.jpg" alt="Images">
                        </div>
                    </div>
                    <div class="box-3 inview animated fadeInUp-2">
                        <div>
                            <img src="/static/images/main/logo_senior.PNG" alt="Images">
                        </div>
                    </div>
                    <div class="box-4 inview animated fadeInUp-2">
                        <div class="profile-content-1">
                            Business <br>
                            Features
                        </div>
                        <div class="profile-content-2">
                            ・The dormitory leader couple is stationed at all times<br>
                            ・Each menu devised by a registered dietitian is handmade<br>
                            ・All rooms come with furniture, and the room type can be selected<br>
                            ・Convenient shared facilities such as dining rooms and laundry rooms<br>
                        </div>
                    </div>
                    <div class="box-5 inview animated fadeInUp-2">
                        <div>
                            The major features of the student dormitories that we run are the "handmade home cooking" and the "regularly stationed dormitory leader couple."<br>
                            Each breakfast and dinner menu devised by a registered dietitian is handmade at respective dormitories.<br>
                            The dormitory leader couple supports student life by taking students to hospitals during medical events or giving advice on personal matters.<br>
                            They provide compassionate support for school life.
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
    </main>
    <!-- /End Newsletter Area -->

    <!-- Start Footer Area -->
    <th:block th:replace="~{components/_footer::footer_main}"></th:block>
    <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
      <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="/static/js/main/template/bootstrap.min.js"></script>
    <script src="/static/js/main/template/count-up.min.js"></script>
    <script src="/static/js/main/template/wow.min.js"></script>
    <script src="/static/js/main/template/tiny-slider.js"></script>
    <script src="/static/js/main/template/glightbox.min.js"></script>
    <script src="/static/js/main/template/imagesloaded.min.js"></script>
    <script src="/static/js/main/template/isotope.min.js"></script>
    <script src="/static/js/main/template/main.js"></script>

    <script type="text/javascript" src="/static/js/main/page/business/seniorlife.js"></script>
  </body>
</html>
