<html lang="en" xmlns:th="http://www.thymeleaf.org">

<footer class="footer" th:fragment="footer_main">
    <!-- Start Middle Top -->
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div id="footer_left" class="col-lg-6 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="f-about single-footer" style="display: flex">
                        <div class="logo">
                            <a href="../"><img src="/static/images/main/kyoritsu_logo.png" alt="#"></a>
                        </div>
                        <div id="footer_left_content">
                            <a>KYORITSU MAINTENANCE KOREA CO.,LTD.</a><br>
                            <a th:if="${language} == 'kr'">서울시 강남구 봉은사로 129 <br> TEL 02-548-5489</a>
                            <a th:if="${language} == 'eng'">129 Bongeunsa-ro, Gangnam-gu, Seoul, Korea <br> TEL 02-548-5489</a>
                            <a th:if="${language} == 'jp'">ソウル市江南区奉恩寺路129 <br> TEL 02-548-5489</a>
                        </div>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div id="footer_right" class="col-lg-6 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer f-contact f-link">
                    </div>
                    <!-- End Single Widget -->
                </div>
            </div>
            <div class="copyright">Copyright @ KYORITSU MAINTENANCE KOREA CO.,LTD.</div>
        </div>
    </div>
    <div>
        <div class="main-logo">
            <img src="/static/images/favicon/logo.png" alt="Logo">
        </div>
    </div>

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
        <i class="fa fa-chevron-up"></i><span>TOP</span>
    </a>

    <link rel="stylesheet" href="/static/css/main/footer.css">
    <script type="text/javascript" src="/static/js/main/components/footer.js"></script>
    <!--/ End Footer Middle -->
</footer>
<!--/ End Footer Area -->

<div class="footer" th:fragment="footer_manager">
    <link rel="stylesheet" href="/static/css/admin/footer.css">
</div>