<html lang="en" xmlns:th="http://www.thymeleaf.org">

<footer class="footer" th:fragment="footer_main">
    <!-- Start Middle Top -->
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5 col-12">
                    <!-- Single Widget -->
                    <div class="f-about single-footer">
                        <div class="logo">
                            <a href="../"><img src="/static/images/favicon/logo.png" alt="#"></a>
                        </div>
                        <div class="footer-social">
                            <ul>
                                <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                                <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                                <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                                <li><a href="#"><i class="lni lni-behance-original"></i></a></li>
                                <li><a href="#"><i class="lni lni-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-5 col-md-7 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer f-contact f-link">
                        <h3>Contact Us</h3>
                        <p>Untrammelled & nothing preven our being able</p>
                        <ul class="footer-contact">
                            <li><i class="lni lni-phone"></i> <a href="#">+012 (345) 6789</a></li>
                            <li><i class="lni lni-envelope"></i> <a
                                    href="mailto:support@gmail.com">support@gmail.com</a></li>
                            <li><i class="lni lni-map-marker"></i> Broklyn Street USA</li>
                            <li><i class="lni lni-world"></i> <a href="#">www.yoursite.com</a></li>
                        </ul>
                    </div>
                    <!-- End Single Widget -->
                </div>
            </div>
        </div>
    </div>
    <!--/ End Footer Middle -->
</footer>
<!--/ End Footer Area -->

<div class="footer" th:fragment="footer_manager">

    <a href="http://enicom.co.kr" target="_blank" class="footer-item hide">
        <i class="fas fa-home"></i>
        <span class="footer-item-desc">나이콤 홈페이지 바로가기</span>
    </a>
    <a href="http://shop.enicom.co.kr" target="_blank" class="footer-item hide">
        <i class="fas fa-store"></i>
        <span class="footer-item-desc">나이콤 쇼핑몰 구경가기</span>
    </a>
    <a href="tel:1544-6502" class="footer-item hide">
        <i class="fas fa-phone"></i>
        <span class="footer-item-desc">AS 상담 문의 1544-6502~3</span>
    </a>
    <a class="footer-item text-white" role="link" aria-expanded="false"><i class="fas fa-unlink"></i></a>

    <link rel="stylesheet" href="/static/css/admin/footer.css">
    <script typpe="text/javascript" src="/static/js/admin/components/footer.js"></script>
</div>