<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{components/_include::include_main}"></th:block>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->

    <!-- ========================= header start ========================= -->
    <th:block th:replace="~{components/_header::header_main}"></th:block>
    <!-- ========================= header end ========================= -->

    <input type="hidden" class="param" name="key" th:value="${key}"/>
    <input type="hidden" id="page_group_id" value="news"/>
    <input type="hidden" id="page_id" value="notice"/>

    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-content" id="breadcrumbs-nav">
                        <ul class="breadcrumb-nav">
                            <li><a href="../">Home</a></li>
                            <li><a href="">공지사항</a></li>
                            <li>공지사항</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12" id="breadcrumbs-title">
                    <div class="breadcrumbs-content title">
                        <h1 class="page-title">공지사항</h1>
                        <p>Business plan draws on a wide range of knowledge from different business disciplines. Business draws on a wide range of different business .</p>
                    </div>
                    <div class="blank">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Start Features Area -->
    <main>
        <section class="notice section">
            <div class="container">
                <div class="notice-container">
                    <div class="notice-title">
                        <div></div>
                        <div id="title"></div>
                        <div class="list-btn">
                            <a href="../../notice"> <i class="fas fa-list"></i><span class="icon-title"></span></a>
                        </div>

                    </div>
                    <div class="notice-subtitle">
                        <div>
                            <span class="font-weight-500">작성자</span>
                            <span id="create-user"></span>
                        </div>
                        <div>
                            <span class="font-weight-500">등록일</span>
                            <span id="create-date"> </span>
                        </div>
                    </div>
                    <div class="notice-content">
                        <div id="content"></div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- /End Newsletter Area -->

    <!-- Start Footer Area -->
    <th:block th:replace="~{components/_footer::footer_main}"></th:block>
    <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="/static/js/main/template/bootstrap.min.js"></script>
    <script src="/static/js/main/template/count-up.min.js"></script>
    <script src="/static/js/main/template/wow.min.js"></script>
    <script src="/static/js/main/template/tiny-slider.js"></script>
    <script src="/static/js/main/template/glightbox.min.js"></script>
    <script src="/static/js/main/template/imagesloaded.min.js"></script>
    <script src="/static/js/main/template/isotope.min.js"></script>
    <script src="/static/js/main/template/main.js"></script>

    <script type="text/javascript" src="/static/js/main/page/detail/notice.js"></script>
  </body>
</html>
