<html lang="en" xmlns:th="http://www.thymeleaf.org">
<main th:fragment="index_main_jp">
    <!-- Start Hero Area -->
    <section class="hero-slider" th:if="${language} == 'jp'">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" id="swiper-container-1st">
                    <div class="single-slider">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <div class="home-slider">
                                        <div class="hero-text wow fadeInUp" data-wow-delay=".3s">
                                            <span class="small-title">ビジネスソリューション</span>
                                            <h1><span>品質を提供します</span><br> コンサルティングサービス</h1>
                                            <p>Lorem Ipsumは、印刷およびタイプセット業界のダミーテキストです。<br>
                                                Lorem Ipsumは業界の標準のダミーテキストとなっています。</p>
                                            <div class="button">
                                                <a href="/intro/overview" class="btn mouse-dir">詳細を見る <span
                                                        class="dir-part"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" id="swiper-container-1st">
                    <div class="single-slider">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <div class="home-slider">
                                        <div class="hero-text wow fadeInUp" data-wow-delay=".3s">
                                            <span class="small-title">ビジネスソリューション</span>
                                            <h1><span>品質を提供します</span><br> コンサルティングサービス</h1>
                                            <p>Lorem Ipsumは、印刷およびタイプセット業界のダミーテキストです。<br>
                                                Lorem Ipsumは業界の標準のダミーテキストとなっています。</p>
                                            <div class="button">
                                                <a href="/intro/overview" class="btn mouse-dir">詳細を見る <span
                                                        class="dir-part"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" id="swiper-container-2st">
                    <div class="single-slider">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <div class="home-slider">
                                        <div class="hero-text wow fadeInUp" data-wow-delay=".3s">
                                            <span class="small-title">Business Solution</span>
                                            <span class="small-title">ビジネスソリューション</span>
                                            <h1><span>品質を提供します</span><br> コンサルティングサービス</h1>
                                            <p>Lorem Ipsumは、印刷およびタイプセット業界のダミーテキストです。<br>
                                                Lorem Ipsumは業界の標準のダミーテキストとなっています。</p>
                                            <div class="button">
                                                <a href="/intro/overview" class="btn mouse-dir">詳細を見る <span
                                                        class="dir-part"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </section>
    <!-- End Hero Area -->

    <!-- Start Features Area -->
    <section class="Features section" th:if="${language == 'jp'}">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="feature-right wow fadeInUp" data-wow-delay=".3s">
                        <div class="watch-inner">
                            <div class="video-head wow zoomIn" data-wow-delay="0.4s">
                                <a href="https://youtu.be/t0zB-fOuzEk" class="glightbox video"><i
                                        class="lni lni-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="feature-content">
                        <div class="title">
                            <span class="wow fadeInRight" data-wow-delay=".3s">イントロダクション</span>
                            <h3 class="wow fadeInRight" data-wow-delay=".5s">事業領域</h3>
                        </div>
                        <div class="feature-item wow fadeInUp" data-wow-delay=".5s">
                            <div class="feature-thumb">
                                <i class="lni lni-bar-chart"></i>
                            </div>
                            <div class="banner-content">
                                <h2 class="title">ドーミー</h2>
                                <p>私たちのビジネスホテルチェーンは、寮ビジネスのノウハウを継承し、
                                    「家と同じくらい快適な雰囲気」と快適さを提供しています。
                                    スタンダードなビジネスホテルと「おんやどのの」など、日本式プレミアムブランドホテルを運営しています。</p>
                            </div>
                            <div class="button">
                                <a href="/business/dormyinn" class="btn mouse-dir">詳細を見る </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <ul class="building">
                    <li class="wow fadeInUp">
                        <figure>
                            <img src="/static/images/bizfinity/img_building-01.svg">
                        </figure>
                        <div class="caption">
                            <p class="category">
                            </p>
                            <p class="count">
                            </p>
                        </div>
                    </li>
                    <li class="wow fadeInUp">
                        <figure>
                            <img src="/static/images/bizfinity/img_building-02.svg">
                        </figure>
                        <div class="caption">
                            <p class="category">
                            </p>
                            <p class="count">
                            </p>
                        </div>
                    </li>
                    <li class="wow fadeInUp">
                        <figure>
                            <img src="/static/images/bizfinity/img_building-03.svg">
                        </figure>
                        <div class="caption">
                            <p class="category">
                            </p>
                            <p class="count">
                            </p>
                        </div>
                    </li>
                    <li class="wow fadeInUp">
                        <figure>
                            <img src="/static/images/bizfinity/img_building-04.svg">
                        </figure>
                        <div class="caption">
                            <p class="category">
                            </p>
                            <p class="count">
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- Start Service Area -->
    <section class="services section" th:if="${language == 'jp'}">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="section-title">
                        <span class="wow fadeInDown" data-wow-delay=".2s">私たちについて</span>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">企業活動</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">Lorem Ipsumには多くの変種がありますが、そのほとんどは何らかの形で変更されています。
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="single-service wow fadeInUp" data-wow-delay=".2s">
                        <div class="serial">
                            <span><i class="lni lni-code"></i></span>
                        </div>
                        <h3><a href="service-single.html">企業IR</a></h3>
                        <p>専門家によって完了されたプロジェクトが必要ですか？行くぞ！質問に答えるために人事コンサルタントにアクセス</p>
                        <div class="circles-wrap">
                            <div class="circles">
                                <span class="circle circle-1"></span>
                                <span class="circle circle-2"></span>
                                <span class="circle circle-3"></span>
                                <span class="circle circle-4"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="single-service wow fadeInUp" data-wow-delay=".3s">
                        <div class="serial">
                            <span><i class="lni lni-vector"></i></span>
                        </div>
                        <h3><a href="service-single.html">グループ企業</a></h3>
                        <p>専門家によって完了されたプロジェクトが必要ですか？行くぞ！質問に答えるために人事コンサルタントにアクセス</p>
                        <div class="circles-wrap">
                            <div class="circles">
                                <span class="circle circle-1"></span>
                                <span class="circle circle-2"></span>
                                <span class="circle circle-3"></span>
                                <span class="circle circle-4"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="single-service wow fadeInUp" data-wow-delay=".5s">
                        <div class="serial">
                            <span><i class="lni lni-keyword-research"></i></span>
                        </div>
                        <h3><a href="service-single.html">企業の成長</a></h3>
                        <p>専門家によって完了されたプロジェクトが必要ですか？行くぞ！質問に答えるために人事コンサルタントにアクセス</p>
                        <div class="circles-wrap">
                            <div class="circles">
                                <span class="circle circle-1"></span>
                                <span class="circle circle-2"></span>
                                <span class="circle circle-3"></span>
                                <span class="circle circle-4"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="single-service wow fadeInUp" data-wow-delay=".6s">
                        <div class="serial">
                            <span><i class="lni lni-seo"></i></span>
                        </div>
                        <h3><a href="service-single.html">採用</a></h3>
                        <p>専門家によって完了されたプロジェクトが必要ですか？行くぞ！質問に答えるために人事コンサルタントにアクセス</p>
                        <div class="circles-wrap">
                            <div class="circles">
                                <span class="circle circle-1"></span>
                                <span class="circle circle-2"></span>
                                <span class="circle circle-3"></span>
                                <span class="circle circle-4"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Service Area -->
</main>