<html lang="en" xmlns:th="http://www.thymeleaf.org">
<main th:fragment="index_main_jp">
    <!-- Start Hero Area -->
    <section class="hero-slider" th:if="${language} == 'jp'">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" id="swiper-container-1st">
                    <div class="single-slider">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <div class="home-slider">
                                        <div class="hero-text wow fadeInUp" data-wow-delay=".3s">
                                            <span class="small-title">ビジネスソリューション</span>
                                            <p class="content-title">[수정필요]品質を提供します<br>コンサルティングサービス</p><br><br>
                                            <p class="content-detail">[수정필요]は、印刷およびタイプセット業界のダミーテキストです。<br>
                                                は業界の標準のダミーテキストとなっています。</p>
                                            <div class="button wow fadeInUp" data-wow-delay=".9s">
                                                <a href="/intro/overview" class="btn mouse-dir">詳細を見る <span
                                                        class="dir-part"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" id="swiper-container-2st">
                    <div class="single-slider">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <div class="home-slider">
                                        <div class="hero-text wow fadeInUp" data-wow-delay=".3s">
                                            <span class="small-title">ビジネスソリューション</span>
                                            <p class="content-title">[수정필요]品質を提供します<br>コンサルティングサービス</p><br><br>
                                            <p class="content-detail">[수정필요]は、印刷およびタイプセット業界のダミーテキストです。<br>
                                                は業界の標準のダミーテキストとなっています。</p>
                                            <div class="button wow fadeInUp" data-wow-delay=".9s">
                                                <a href="/intro/overview" class="btn mouse-dir">詳細を見る <span
                                                        class="dir-part"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" id="swiper-container-3st">
                    <div class="single-slider">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <div class="home-slider">
                                        <div class="hero-text wow fadeInUp" data-wow-delay=".3s">
                                            <span class="small-title">ビジネスソリューション</span>
                                            <p class="content-title">[수정필요]品質を提供します<br>コンサルティングサービス</p><br><br>
                                            <p class="content-detail">[수정필요]は、印刷およびタイプセット業界のダミーテキストです。<br>
                                                は業界の標準のダミーテキストとなっています。</p>
                                            <div class="button wow fadeInUp" data-wow-delay=".9s">
                                                <a href="/intro/overview" class="btn mouse-dir">詳細を見る <span
                                                        class="dir-part"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" id="swiper-container-4st">
                    <div class="single-slider">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <div class="home-slider">
                                        <div class="hero-text wow fadeInUp" data-wow-delay=".3s">
                                            <span class="small-title">ビジネスソリューション</span>
                                            <p class="content-title">[수정필요]品質を提供します<br>コンサルティングサービス</p><br><br>
                                            <p class="content-detail">[수정필요]は、印刷およびタイプセット業界のダミーテキストです。<br>
                                                は業界の標準のダミーテキストとなっています。</p>
                                            <div class="button wow fadeInUp" data-wow-delay=".9s">
                                                <a href="/intro/overview" class="btn mouse-dir">詳細を見る <span
                                                        class="dir-part"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>
    <!-- End Hero Area -->

    <!-- Start Features Area -->
    <section class="Features section" th:if="${language == 'jp'}">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-6 col-12">
                    <div class="feature-content">
                        <div class="title">
                            <span class="wow fadeInRight" data-wow-delay=".3s">イントロダクション</span>
                            <h3 class="wow fadeInRight" data-wow-delay=".5s">事業領域</h3>
                        </div>
                        <div class="feature-item wow fadeInUp" data-wow-delay=".5s">
                            <div class="feature-thumb">
                                <i class="lni lni-bar-chart"></i>
                            </div>
                            <div class="banner-content">
                                <h2 class="title">ドーミー</h2>
                                <p>私たちのビジネスホテルチェーンは、寮ビジネスのノウハウを継承し、
                                    「家と同じくらい快適な雰囲気」と快適さを提供しています。
                                    スタンダードなビジネスホテルと「おんやどのの」など、日本式プレミアムブランドホテルを運営しています。</p>
                            </div>

                        </div>
                        <div class="button">
                            <a href="/business/dormyinn" class="btn mouse-dir">詳細を見る <span
                                    class="dir-part"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <img src="/static/images/main/dormyinn.jpg" alt="이미지">
                </div>
            </div>
        </div>
    </section>
    <!-- End Features Area -->
    <section class="Images section" th:if="${language == 'jp'}">
        <div class="container">
            <div class="row">
                <ul class="building">
                    <li class="wow fadeInUp">
                        <div>
                            <p class="category_title">
                                <span>
                                    寮事業
                                </span>
                            </p>
                        </div>
                        <figure>
                            <img src="/static/images/bizfinity/img_building-01.svg">
                        </figure>
                        <div class="caption">
                            <p class="category">
                                <span>
                                    520
                                </span>
                            </p>
                            <p class="count">
                                <span>箇所</span>
                            </p>
                        </div>
                    </li>
                    <li class="wow fadeInUp">
                        <div>
                            <p class="category_title">
                                <span>
                                    ドーミーイン
                                </span>
                            </p>
                        </div>
                        <figure>
                            <img src="/static/images/bizfinity/img_building-02.svg">
                        </figure>
                        <div class="caption">
                            <p class="category">
                                <span>
                                    90
                                </span>
                            </p>
                            <p class="count">
                                <span>箇所</span>
                            </p>
                        </div>
                    </li>
                    <li class="wow fadeInUp">
                        <div>
                            <p class="category_title">
                                <span>
                                    リゾート事業
                                </span>
                            </p>
                        </div>
                        <figure>
                            <img src="/static/images/bizfinity/img_building-03.svg">
                        </figure>
                        <div class="caption">
                            <p class="category">
                                <span>
                                    41
                                </span>
                            </p>
                            <p class="count">
                                <span>箇所</span>
                            </p>
                        </div>
                    </li>
                    <li class="wow fadeInUp">
                        <div>
                            <p class="category_title">
                                <span>
                                    シニアライフ
                                </span>
                            </p>
                        </div>
                        <figure>
                            <img src="/static/images/bizfinity/img_building-04.svg">
                        </figure>
                        <div class="caption">
                            <p class="category">
                                <span>
                                    11
                                </span>
                            </p>
                            <p class="count">
                                <span>箇所</span>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="About section" th:if="${language == 'jp'}">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="feature-content">
                        <div class="title">
                            <span class="wow fadeInRight" data-wow-delay=".3s">私たちについて</span>
                            <h3 class="wow fadeInRight" data-wow-delay=".5s">企業活動</h3>
                        </div>
                        <div class="custom-swiper-buttons">
                            <button class="custom-prev-button-about"></button>
                            <button class="custom-next-button-about"></button>
                        </div>
                    </div>
                </div>
                <div class="swiper-container-about col-lg-8 col-md-8 col-12">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" id="swiper-container-1st">
                            <div class="single-slider">
                                <div>
                                    <img src="/static/images/main/about_slide-01.png" alt="Image 1">
                                    <p class="img_title">[수정필요]企業 IR</p>
                                    <p class="img_content">[수정필요]원하시는 문구를 입력해주세요</p>
                                </div>
                                <div>
                                    <img src="/static/images/main/about_slide-02.png" alt="Image 2">
                                    <p class="img_title">[수정필요]グループ会社</p>
                                    <p class="img_content">[수정필요]원하시는 문구를 입력해주세요</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" id="swiper-container-2st">
                            <div class="single-slider">
                                <div>
                                    <img src="/static/images/main/about_slide-03.png" alt="Image 3">
                                    <p class="img_title">[수정필요]企業 IR</p>
                                    <p class="img_content">[수정필요]원하시는 문구를 입력해주세요</p>
                                </div>
                                <div>
                                    <img src="/static/images/main/about_slide-04.png" alt="Image 4">
                                    <p class="img_title">[수정필요]グループ会社</p>
                                    <p class="img_content">[수정필요]원하시는 문구를 입력해주세요</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next-about" style="display: none"></div>
                    <div class="swiper-button-prev-about" style="display: none"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="Gallery section" th:if="${language == 'jp'}">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-12">
                    <div class="feature-content">
                        <div class="title">
                            <span class="wow fadeInRight" data-wow-delay=".3s">CM ギャラリー</span>
                            <h3 class="wow fadeInRight" data-wow-delay=".5s">企業の販促資料</h3>
                        </div>
                        <div class="custom-swiper-buttons">
                            <button class="custom-prev-button-gallery"></button>
                            <button class="custom-next-button-gallery"></button>
                        </div>
                    </div>
                </div>
                <div class="swiper-container-gallery col-lg-6 col-md-6 col-12">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" id="swiper-container-1st">
                            <div class="single-slider">
                                <div class="feature-right wow fadeInUp" id="one-st" data-wow-delay=".3s">
                                    <div class="watch-inner">
                                        <div class="video-head wow zoomIn" data-wow-delay="0.4s">
                                            <a class="glightbox video first">
                                                <i class="lni lni-play"></i></a>
                                        </div>
                                    </div>
                                    <video id="video1" controls>
                                        <source src="/static/video/cm_gallery-01.mp4" type="video/mp4">
                                    </video>
                                </div>
                                <div>
                                    <p>[수정필요]おはよう/ホテルのコマーシャル 30 秒</p>
                                </div>

                            </div>
                        </div>
                        <div class="swiper-slide" id="swiper-container-2st">
                            <div class="single-slider">
                                <div class="feature-right wow fadeInUp" id="two-st" data-wow-delay=".3s">
                                    <div class="watch-inner">
                                        <div class="video-head wow zoomIn" data-wow-delay="0.4s">
                                            <a class="glightbox video second">
                                                <i class="lni lni-play"></i></a>
                                        </div>
                                    </div>
                                    <video id="video2" controls>
                                        <source src="/static/video/cm_gallery-02.mp4" type="video/mp4">
                                    </video>
                                </div>
                                <div>
                                    <p>[수정필요]おはよう/ホテルのコマーシャル 30 秒</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next-gallery" style="display: none"></div>
                    <div class="swiper-button-prev-gallery" style="display: none"></div>
                </div>
                <div class="swiper-container-gallery col-lg-1 col-md-1 col-12">
                </div>
                <!--                <div class="col-lg-8 col-md-8 col-12">-->
                <!--                    <div class="feature-right wow fadeInUp" data-wow-delay=".3s">-->
                <!--                        <div class="watch-inner">-->
                <!--                            <div class="video-head wow zoomIn" data-wow-delay="0.4s">-->
                <!--                                <a href="https://www.youtube.com/watch?v=CEA3yc-qDd4" class="glightbox video"><i-->
                <!--                                        class="lni lni-play"></i></a>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
        </div>
    </section>
</main>