<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{components/_include::include_main}"></th:block>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->

    <!-- ========================= header start ========================= -->
    <th:block th:replace="~{components/_header::header_main}"></th:block>
    <!-- ========================= header end ========================= -->

    <input type="hidden" class="param" name="key" id="jobId" th:value="${key}"/>
    <input type="hidden" id="page_group_id" value="recruit"/>
    <input type="hidden" id="page_id" value="apply"/>

    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-12" id="breadcrumbs-nav">
                    <div class="breadcrumbs-content">
                        <ul class="breadcrumb-nav">
                            <li><a href="../">Home</a></li>
                            <li><a href="">채용정보</a></li>
                            <li>채용 지원</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12" id="breadcrumbs-title">
                    <div class="breadcrumbs-content title">
                        <h1 class="page-title">채용 지원</h1>
                        <p>Business plan draws on a wide range of knowledge from different business disciplines. Business draws on a wide range of different business .</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12" id="breadcrumbs-content">
                    <div class="breadcrumbs-content center">
                        <button type="button" id="btnEmployeeInfo">직원 소개</button>
                        <button type="button" id="btnInfo">채용 안내</button>
                        <button type="button" id="btnNotice">채용 공고</button>
                        <button type="button" id="btnApply">채용 지원</button>
                        <button type="button" id="btnInquire">채용 문의</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<!-- Start Features Area -->
    <main>
        <section class="apply apply-section">
            <div class="sub-title">
                지원서 작성
            </div>
            <div class="container">
                <div class="title-container">
                    <div class="apply-career"></div>
                    <div class="apply-fulltime"></div>
                    <div class="apply-title"></div>
                    <div class="apply-subtitle">
                        <!-- <span class="apply-fulltime"></span> -->
                        <span> - 지원기간: </span>
                        <span class="apply-date"></span>
                    </div>
                </div>
                <div class="apply-content">
                    <div class="content-default content">
                        <div class="flex-box">
                        <div class="flex-box-first">
                            <div class="d-flex">
                                <input id="name" type="text" placeholder="성함"/>
                            </div>
                            <div class="apply-label">
                                <input id="man" type="radio" name="gender" value="male" checked/>
                                <label for="man">남</label>
                                <input id="woman" type="radio" name="gender" value="female"/>
                                <label for="woman">여</label>
                            </div>
                            <div>
                                <input id="birth" type="text" placeholder="생년월일(8자리)"/>
                            </div>
                            <div>
                                <input id="mobile" type="text" placeholder="휴대폰 번호('-'없이 입력)"/>
                            </div>

                        </div>
                            <div class="flex-box-second">
                                <div class="radio-buttons">
                                    <input type="radio" id="korean" name="options" checked/>
                                    <label for="korean">내국인</label>

                                    <input type="radio" id="foreign" name="options" />
                                    <label for="foreign">외국인</label>
                                </div>
                                <!-- 이거 안쓰이는거 같은데? -->
                                <div class="apply-label"> 
                                    <input id="man" type="radio" name="gender" value="male"/>
                                    <label>남</label>
                                    <input id="woman" type="radio" name="gender" value="female"/>
                                    <label>여</label>
                                </div>
                                <div>
                                    <input id="email" type="text" placeholder="이메일주소">
                                </div>
                                <div>
                                    <!-- <input id="em_mobile" type="text" placeholder="비상연락처 번호('-'없이 입력)"/> -->
                                </div>
<!--                                <div>-->
<!--                                    국적:-->
<!--                                    <select id="nation" name="nation">-->
<!--                                        <option value="local">내국인</option>-->
<!--                                        <option value="foreigner">외국인</option>-->
<!--                                    </select>-->
<!--                                </div>-->
<!--                                <div>-->
<!--                                    경력:-->
<!--                                    <select id="career" name="career">-->
<!--                                        <option value="newcomer">신입</option>-->
<!--                                        <option value="career">경력</option>-->
<!--                                    </select>-->
<!--                                </div>-->
                            </div>
                            <div class="flex-box-third">
                                <img id="previewImg" alt="지원서 프로필" src="/static/images/profile.png" class="rounded-circle avatar-img previewImg">
                                <div class="fileboxProfile">
                                    <label for="profile">사진 선택</label>
                                    <input class="upload-name" value="" disabled="disabled">
                                    <input type="file" id="profile" name="profile" class="upload-hidden"/>
                                </div>
                            </div>
                        </div>
                        <div class="apply-address">
                            <div>
                                <input id="address" type="text" placeholder="주소"/>
                            </div>
                            <div>
                                <input id="addressDetail" type="text" placeholder="상세주소(없다면 비워두세요)">
                            </div>
                        </div>
                    </div>
                    <div class="content-personal content">
                        <div class="category-title"> 자기소개서 </div>
                        <span> 경험을 바탕으로 자세히 작성해주세요.</span>
                        <div>
                            <textarea id="contents" cols="50" rows="10"></textarea>
                        </div>
                        <div><span id="contentsCount">0</span>/<span id="contentsMaxCount">10000</span></div>
                    </div>
                    <div class="content-file content">
                        <div class="category-title">첨부파일</div>
                        <label for="fileInput">파일 선택</label>
                        <span>포트폴리오를 첨부해 주세요. (최대 5개)</span>
                        <!-- <form id="uploadForm" method="POST" onsubmit="submitForm();" enctype="multipart/form-data"> -->
                        <form id="uploadForm" method="POST" enctype="multipart/form-data">
                            <input type="file" id="fileInput" multiple />
                            <div class="file-list"></div>
                        </form>
                            <button id="checkButton">파일 체크</button>
                    </div>
                </div>
            </div>
            <div class="submit-container">
                <div>
                    <span>
                        위 사항은 모두 본인이 직접 작성하였으며, 사실과 다름없습니까?<br>
                        지원서에 기재된 내용이 사실과 다를 경우 합격 또는 입사가 취소될 수 있습니다.
                    </span>
                    <input id="answer" type="radio" name="answer" value="yes"/>
                    <label>네</label>
                    <input type="radio" name="answer" value="no" checked/>
                    <label>아니오</label>
                </div>
                <div class="submit-btn">
                    <button type="button" role="action" data-action="preview"> 미리보기 </button>
                    <button type="button" role="action" data-action="submit"> 제출하기 </button>
                </div>
            </div>
        </section>
        <!-- End Features Area -->
    </main>
    <!-- /End Newsletter Area -->

    <!-- Start Footer Area -->
    <th:block th:replace="~{components/_footer::footer_main}"></th:block>
    <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
      <i class="lni lni-chevron-up"></i>
    </a>

    <th:block th:replace="~{main/recruit/notice/apply_modal::apply_manager}"></th:block>
    
    <!-- ========================= JS here ========================= -->
    <script src="/static/js/main/template/bootstrap.min.js"></script>
    <script src="/static/js/main/template/count-up.min.js"></script>
    <script src="/static/js/main/template/wow.min.js"></script>
    <script src="/static/js/main/template/tiny-slider.js"></script>
    <script src="/static/js/main/template/glightbox.min.js"></script>
    <script src="/static/js/main/template/imagesloaded.min.js"></script>
    <script src="/static/js/main/template/isotope.min.js"></script>
    <script src="/static/js/main/template/main.js"></script>

    <script type="text/javascript" src="/static/js/main/page/recruit/apply/apply_file_upload.js"></script>
    <script type="text/javascript" src="/static/js/main/page/recruit/apply.js"></script>

  </body>
</html>