<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{components/_include::include_main}"></th:block>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->

    <!-- ========================= header start ========================= -->
    <th:block th:replace="~{components/_header::header_main}"></th:block>
    <!-- ========================= header end ========================= -->

    <input type="hidden" id="info_contentId" class="param contentId" name="key"/>

    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-content">
                        <ul class="breadcrumb-nav">
                            <li><a href="../">Home</a></li>
                            <li><a href="">채용정보</a></li>
                            <li>채용 안내</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-content title">
                        <h1 class="page-title">채용 안내</h1>
                        <p>Business plan draws on a wide range of knowledge from different business disciplines. Business draws on a wide range of different business .</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-content center">
                        <button type="button" id="btnEmployeeInfo">직원 소개</button>
                        <button type="button" id="btnInfo">채용 안내</button>
                        <button type="button" id="btnNotice">채용 공고</button>
                        <button type="button" id="btnApply">채용 지원</button>
                        <button type="button" id="btnInquire">채용 문의</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

	<!-- Start Features Area -->
    <main>
        <section id="recruit-info-section3" class="recruit-info section">
            <div class="container">
                <div class="title-wrap">
                    <div class="card-body" style="width: 95%">
                        <table class="table">
                            <thead>
                            <th colspan="3"><h3>직종 업무내용</h3></th>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="contact-info">■ 프런트</td>
                                <td class="contact-info">■ 레스토랑</td>
                                <td class="contact-info">■ 하우스키핑</td>
                            </tr>
                            <tr>
                                <td>ㆍ고객응대(체크인, 체크아웃, 인포메이션 제공, 정산)</td>
                                <td>ㆍ호텔 조식 뷔페 레스토랑 전반 업무</td>
                                <td>ㆍ객실 정비(객실 청소)</td>
                            </tr>
                            <tr>
                                <td>ㆍ예약 및 각종 데이터 처리</td>
                                <td>ㆍ홀 서비스(홀 관리)</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>ㆍ객실 인스펙션, 요나키소바 제공</td>
                                <td>ㆍ고객대응</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>ㆍ대욕장 점검 및 순찰</td>
                                <td>ㆍ조리보조</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>ㆍ각종 정리 등</td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <section id="recruit-info-section3" class="recruit-info section">
            <div class="container">
                <div class="title-wrap">

                    <div class="card-body" style="width: 95%">
                        <table class="table">
                            <thead>
                            <th colspan="2"><h3>업무시간</h3></th>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="2" class="contact-info">시프트근무 ※소정근로시간 1일8시간(근무시간9시간, 휴게시간포함)</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <section id="recruit-info-section3" class="recruit-info section">
            <div class="container">
                <div class="title-wrap">
                    <div class="card-body" style="width: 95%">
                        <table class="table">
                            <thead>
                            <th colspan="2"><h3>근무지</h3></th>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="2" class="contact-info">도미인 서울 강남 호텔(서울시 강남구 봉은사로 129)</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <section id="recruit-info-section2" class="recruit-info section">
            <div class="container">
                <div class="title-wrap">
                    <h3>복리후생</h3>
                </div>
                <div class="contents-wrap">
                    <div class="card-box">
                        <i class="fas fa-hands-helping"></i>
                        <div class="title">종합 복지 혜택</div>
                        <div class="content">
                            4대보험, 야근수당, 연차수당
                        </div>
                    </div>
                    <div class="card-box">
                        <i class="fas fa-hands-helping"></i>
                        <div class="title">유연한 근무 혜택</div>
                        <div class="content">
                            반차, 연차, 희망휴무
                        </div>
                    </div>
                    <div class="card-box">
                        <i class="fas fa-hands-helping"></i>
                        <div class="title">성과 인센티브 혜택</div>
                        <div class="content">
                            연 1회 상여금(보너스) 지급
                        </div>
                    </div>
                    <div class="card-box">
                        <i class="fas fa-hands-helping"></i>
                        <div class="title">생활 편의 혜택</div>
                        <div class="content">
                            연 1회 사원 무료숙박권 지급
                        </div>
                    </div>
                    <div class="card-box">
                        <i class="fas fa-hands-helping"></i>
                        <div class="title">식사 및 복장 혜택</div>
                        <div class="content">
                            식사제공, 유니폼지급
                        </div>
                    </div>
                    <div class="card-box">
                        <i class="fas fa-hands-helping"></i>
                        <div class="title">글로벌 역량 강화 혜택</div>
                        <div class="content">
                            일본연수기회
                        </div>
                    </div>
                    <div class="card-box">
                        <i class="fas fa-hands-helping"></i>
                        <div class="title">명절을 더 특별하게</div>
                        <div class="content">
                            명절선물
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="recruit-info-section4" class="recruit-info section">
            <div class="container">
                <div class="title-wrap">
                    <h3>영입절차</h3>
                </div>
                <div class="contents-wrap">
                    <ul>
                        <li>
                            <div class="card-box">
                                <div>
                                    <img src="" />
                                </div>
                                <div class="title">
                                    <span>01</span>
                                    <h3>서류전형</h3>
                                </div>
                            </div>
                        </li>
                        <li class="arrow-icon">
                            <i class="fas fa-arrow-right"></i>
                        </li>
                        <li>
                            <div class="card-box">
                                <div>
                                    <img src="" />
                                </div>
                                <div class="title">
                                    <span>02</span>
                                    <h3>1차면접</h3>
                                </div>
                            </div>
                        </li>
                        <li class="arrow-icon">
                            <i class="fas fa-arrow-right"></i>
                        </li>
                        <li>
                            <div class="card-box">
                                <div>
                                    <img src="" />
                                </div>
                                <div class="title">
                                    <span>03</span>
                                    <h3>2차면접</h3>
                                </div>
                            </div>
                        </li>
                        <li class="arrow-icon">
                            <i class="fas fa-arrow-right"></i>
                        </li>
                        <li>
                            <div class="card-box">
                                <div>
                                    <img src="" />
                                </div>
                                <div class="title">
                                    <span>04</span>
                                    <h3>최종합격</h3>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="recruit-info-section3" class="recruit-info section">
            <div class="container">
                <div class="title-wrap">

                    <div class="card-body" style="width: 95%">
                        <table class="table">
                            <thead>
                            <th colspan="2"><h3>채용문의처</h3></th>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="4" class="contact-info">주식회사 한국 교리츠 메인터넌스 인재개발부</td>
                            </tr>
                            <tr>
                                <td>E-MAIL : recruit@dormy.co.kr</td>
                                <td>TEL : 02-548-9390</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <section id="recruit-info-section6" class="recruit-info section">
            <div class="container">
                <button class="btn" onclick="location.href='/recruit/notice'">
                    <span>채용 공고 확인</span>
                    <i></i>
                </button>
            </div>
        </section>
    </main>
    <!-- /End Newsletter Area -->

    <!-- Start Footer Area -->
    <th:block th:replace="~{components/_footer::footer_main}"></th:block>
    <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
      <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="/static/js/main/template/bootstrap.min.js"></script>
    <script src="/static/js/main/template/count-up.min.js"></script>
    <script src="/static/js/main/template/wow.min.js"></script>
    <script src="/static/js/main/template/tiny-slider.js"></script>
    <script src="/static/js/main/template/glightbox.min.js"></script>
    <script src="/static/js/main/template/imagesloaded.min.js"></script>
    <script src="/static/js/main/template/isotope.min.js"></script>
    <script src="/static/js/main/template/main.js"></script>

    <script type="text/javascript" src="/static/js/main/page/recruit/info.js"></script>
  </body>
</html>
