<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{components/_include::include_main}"></th:block>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->

    <!-- ========================= header start ========================= -->
    <th:block th:replace="~{components/_header::header_main}"></th:block>
    <!-- ========================= header end ========================= -->

    <input type="hidden" id="page_group_id" value="recruit"/>
    <input type="hidden" id="page_id" value="notice"/>
    <input type="hidden" id="language" th:value="${language}"/>

    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs" id="recruitment" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-content" id="breadcrumbs-nav">
                        <ul class="breadcrumb-nav">
                            <li><a href="../">Home</a></li>
                            <li><a href="">채용정보</a></li>
                            <li>채용 공고</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12" id="breadcrumbs-title">
                    <div class="breadcrumbs-content title">
                        <h1 class="page-title">채용 공고</h1>
                        <p>Business plan draws on a wide range of knowledge from different business disciplines. Business draws on a wide range of different business .</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12" id="breadcrumbs-content">
                    <div class="breadcrumbs-content center">
                        <button type="button" id="btnEmployeeInfo">직원 소개</button>
                        <button type="button" id="btnInfo">채용 안내</button>
                        <button type="button" id="btnNotice">채용 공고</button>
                        <button type="button" id="btnApply">채용 지원</button>
                        <button type="button" id="btnInquire">채용 문의</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

	<!-- Start Features Area -->
    <th:block th:replace="~{main/recruit/include/notice/notice_include_kr::notice_main_kr}"></th:block>
    <th:block th:replace="~{main/recruit/include/notice/notice_include_eng::notice_main_eng}"></th:block>
    <th:block th:replace="~{main/recruit/include/notice/notice_include_jp::notice_main_jp}"></th:block>
    <!-- /End Newsletter Area -->

    <!-- Start Footer Area -->
    <th:block th:replace="~{components/_footer::footer_main}"></th:block>
    <!--/ End Footer Area -->


    <!-- ========================= JS here ========================= -->
    <script src="/static/js/main/template/bootstrap.min.js"></script>
    <script src="/static/js/main/template/count-up.min.js"></script>
    <script src="/static/js/main/template/wow.min.js"></script>
    <script src="/static/js/main/template/tiny-slider.js"></script>
    <script src="/static/js/main/template/glightbox.min.js"></script>
    <script src="/static/js/main/template/imagesloaded.min.js"></script>
    <script src="/static/js/main/template/isotope.min.js"></script>
    <script src="/static/js/main/template/main.js"></script>

    <script type="text/javascript" src="/static/js/main/page/recruit/notice.js"></script>
  </body>
</html>