<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{components/_include::include_main}"></th:block>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->

    <!-- ========================= header start ========================= -->
    <th:block th:replace="~{components/_header::header_main}"></th:block>
    <!-- ========================= header end ========================= -->

    <input type="hidden" id="location_contentId" class="param contentId" name="key"/>
    <input type="hidden" id="page_group_id" value="about_us"/>
    <input type="hidden" id="page_id" value="location"/>

    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs" id="company" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-content" id="breadcrumbs-nav">
                        <ul class="breadcrumb-nav">
                            <li><a href="../">Home</a></li>
                            <li><a href="">회사소개</a></li>
                            <li>오시는길</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12" id="breadcrumbs-title">
                    <div class="breadcrumbs-content title">
                        <h1 class="page-title">회사소개</h1>
                        <p>Business plan draws on a wide range of knowledge from different business disciplines. Business draws on a wide range of different business .</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12" id="breadcrumbs-content">
                    <div class="breadcrumbs-content center">
                        <button type="button" id="btnOverview">기업개요</button>
                        <button type="button" id="btnVision">경영이념/비전</button>
                        <button type="button" id="btnHistory">연혁</button>
                        <button type="button" id="btnOrganization">조직도</button>
                        <button type="button" id="btnLocation">오시는길</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

	<!-- Start Features Area -->

    <main>
        <section id="location-section" class="location section">
            <div class="editor-content container">
                <div class="box-1 inview animated fadeInUp">
                    <h2 class="sec-title">
                        <p class="en">오시는길</p>
                    </h2>
                </div>
                <div class="location-container">
                    <div id="map"></div>
                    <div class="map-info">
                        <div class="top">
                            <h3>교리츠 <span>본사</span></h3>
                            <ul>
                                <li><h4>서울시 강남구 봉은사로 129 서평타운 314호</h4></li>
                                <li></li>
                                <li><a href=""><p>길찾기</p>
<!--                                    <img src="images/contact/contact_arrow.png" alt="">-->
                                </a></li>
                            </ul>
                        </div>
                        <div class="bottom">
                            <ul>
<!--                                <li><img src="images/contact/contact_icon1.png" alt=""></li>-->
                                <li>전화</li>
                                <li><span>02-548-5489</span></li>
                            </ul>
                            <ul>
<!--                                <li><img src="images/contact/contact_icon2.png" alt=""></li>-->
                                <li>팩스</li>
                                <li>팩스번호</li>
                            </ul>
                            <ul>
<!--                                <li><img src="images/contact/contact_icon3.png" alt=""></li>-->
                                <li>E-Mail</li>
                                <li>이메일 번호</li>
                            </ul>
                            <ul>
<!--                                <li><img src="images/contact/contact_icon4.png" alt=""></li>-->
                                <li>제품 및 기타 문의</li>
                                <li>제품 및 기타 문의</li>
                            </ul>
                            <ul>
<!--                                <li><img src="images/contact/contact_icon5.png" alt=""></li>-->
                                <li>A/S콜센터</li>
                                <li>A/S콜센터</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- /End Newsletter Area -->

    <!-- Start Footer Area -->
    <th:block th:replace="~{components/_footer::footer_main}"></th:block>
    <!--/ End Footer Area -->


    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
      <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="/static/js/main/template/bootstrap.min.js"></script>
    <script src="/static/js/main/template/count-up.min.js"></script>
    <script src="/static/js/main/template/wow.min.js"></script>
    <script src="/static/js/main/template/tiny-slider.js"></script>
    <script src="/static/js/main/template/glightbox.min.js"></script>
    <script src="/static/js/main/template/imagesloaded.min.js"></script>
    <script src="/static/js/main/template/isotope.min.js"></script>
    <script src="/static/js/main/template/main.js"></script>

    <!-- kakao map api -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=467b00845b0eca79f6dff6edfe1fef67"></script>
    <script type="text/javascript" src="/static/js/main/page/intro/kakaomap/kakao-map.js"></script>
    <script type="text/javascript" src="/static/js/main/page/intro/location.js"></script>
  </body>
</html>
