<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{components/_include::include_main}"></th:block>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->

    <!-- ========================= header start ========================= -->
    <th:block th:replace="~{components/_header::header_main}"></th:block>
    <!-- ========================= header end ========================= -->

    <input type="hidden" id="overview_contentId" class="param contentId" name="key"/>

    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-content">
                        <ul class="breadcrumb-nav">
                            <li><a href="../">Home</a></li>
                            <li><a href="">회사소개</a></li>
                            <li>기업개요</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-content title">
                        <h1 class="page-title">회사소개</h1>
                        <p>Business plan draws on a wide range of knowledge from different business disciplines. Business draws on a wide range of different business .</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-content center">
                        <button type="button" onclick="location.href='/intro/overview'">기업개요</button>
                        <button type="button" onclick="location.href='/intro/vision'">경영이념/비전</button>
                        <button type="button" onclick="location.href='/intro/history'">연혁</button>
                        <button type="button" onclick="location.href='/intro/organization'">조직도</button>
                        <button type="button" onclick="location.href='/intro/location'">오시는길</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

	<!-- Start Features Area -->

    <th:block th:replace="~{main/intro/include/overview_include::over_main}"></th:block>
    <!-- End Features Area -->
    <!-- Start Footer Area -->
    <th:block th:replace="~{components/_footer::footer_main}"></th:block>
    <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
      <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="/static/js/main/template/bootstrap.min.js"></script>
    <script src="/static/js/main/template/count-up.min.js"></script>
    <script src="/static/js/main/template/wow.min.js"></script>
    <script src="/static/js/main/template/tiny-slider.js"></script>
    <script src="/static/js/main/template/glightbox.min.js"></script>
    <script src="/static/js/main/template/imagesloaded.min.js"></script>
    <script src="/static/js/main/template/isotope.min.js"></script>
    <script src="/static/js/main/template/main.js"></script>

    <script type="text/javascript" src="/static/js/main/page/intro/overview.js"></script>
  </body>
</html>
