<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{components/_include::include_main}"></th:block>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->

    <!-- ========================= header start ========================= -->
    <th:block th:replace="~{components/_header::header_main}"></th:block>
    <!-- ========================= header end ========================= -->

    <input type="hidden" id="vision_contentId" class="param contentId" name="key"/>

    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-content">
                        <ul class="breadcrumb-nav">
                            <li><a href="../">Home</a></li>
                            <li><a href="">회사소개</a></li>
                            <li>경영이념/비전</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-content title">
                        <h1 class="page-title">회사소개</h1>
                        <p>Business plan draws on a wide range of knowledge from different business disciplines. Business draws on a wide range of different business .</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-content center">
                        <button type="button" onclick="location.href='/intro/overview'">기업개요</button>
                        <button type="button" onclick="location.href='/intro/vision'">경영이념/비전</button>
                        <button type="button" onclick="location.href='/intro/history'">연혁</button>
                        <button type="button" onclick="location.href='/intro/organization'">조직도</button>
                        <button type="button" onclick="location.href='/intro/location'">오시는길</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <main>
        <section id="vision-section" class="vision section">
            <div class="editor-content container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 col-12">
                        <div class="section-title">
                            <span class="wow fadeInDown" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">Management Philosophy</span>
                            <h2 class="wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">경영이념/비전</h2>
                            <p class="wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">회사의 철학은 고객을 최우선으로 생각하는 것입니다.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="team-card wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                            <div class="team-img">
                                <div class="img-wrap">
                                    <img src="/static/images/main/vision1.PNG" alt="Images">
                                    <div class="img-text">
                                        01
                                    </div>
                                </div>
                                <div class="team-social-icon">
                                </div>
                            </div>
                            <div class="content">
                                <h3>
                                    Be thankful and
                                    be appreciated
                                </h3>
                                <p>Work in a way to be able to always say “thank you” to customers and, at the same time, <br>
                                    always have customers say “thank you” to you.<br>
                                    <br>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="team-card wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                            <div class="team-img">
                                <div class="img-wrap">
                                    <img src="/static/images/main/vision2.PNG" alt="Images">
                                    <div class="img-text">
                                        02
                                    </div>
                                </div>
                                <div class="team-social-icon">
                                </div>
                            </div>
                            <div class="content">
                                <h3>
                                    Gather wisdom and work to improve the service
                                </h3>
                                <p>Gather wisdom (knowledge that leads to action) from inside and outside the company, <br>
                                    and always work hard to make improvements.<br>
                                    <br>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="team-card wow fadeInUp" data-wow-delay=".7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
                            <div class="team-img">
                                <div class="img-wrap">
                                    <img src="/static/images/main/vision3.PNG" alt="Images">
                                    <div class="img-text">
                                        03
                                    </div>
                                </div>
                                <div class="team-social-icon">
                                </div>
                            </div>
                            <div class="content">
                                <h3>
                                    Always desire for prosperity and work to achieve mutual profits
                                </h3>
                                <p>“Mutual profits” are essential to establish “Kyoritsu = rising up together.” <br>
                                    Contribute to the prosperity of clients by constantly providing satisfying services. <br>
                                    To achieve this, pursue co-existence and mutual profits with business associates and cooperating companies.<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Start Footer Area -->
    <th:block th:replace="~{components/_footer::footer_main}"></th:block>
    <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
      <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="/static/js/main/template/bootstrap.min.js"></script>
    <script src="/static/js/main/template/count-up.min.js"></script>
    <script src="/static/js/main/template/wow.min.js"></script>
    <script src="/static/js/main/template/tiny-slider.js"></script>
    <script src="/static/js/main/template/glightbox.min.js"></script>
    <script src="/static/js/main/template/imagesloaded.min.js"></script>
    <script src="/static/js/main/template/isotope.min.js"></script>
    <script src="/static/js/main/template/main.js"></script>


    <script type="text/javascript" src="/static/js/main/page/intro/vision.js"></script>
  </body>
</html>
