@charset "UTF-8";

/*======================================
	17. Start Footer CSS
========================================*/
.footer {
    background-color: #fff;
    z-index: 2;
    position: relative;
}

.footer .footer-top {
    padding-top: 80px;
    padding-bottom: 50px;
}

.footer .logo img {
    width: 100%;
}

.footer .f-about {
    padding-right: 30px;
}

.footer .f-about p {
    color: #777;
    font-size: 14px;
    display: block;
    line-height: 27px;
}

.footer .f-about .footer-social {
    margin-top: 35px;
}

.footer .f-about .footer-social ul {}

.footer .f-about .footer-social ul li {
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 6px; /* fix : social icon이 위아래 딱 붙음을 방지 */

}

.footer .f-about .footer-social ul li:last-child {
    margin: 0;
}

.footer .f-about .footer-social ul li a {
    font-size: 14px;
    color: #333;
    height: 35px;
    width: 35px;
    text-align: center;
    display: block;
    border: 1px solid #eee;
    line-height: 35px;
    background: #005bab;
    border: none;
    color: #fff;
    /* 추가됨 */
    padding-top: 10px; /* fix : 아이콘 밀려나오는 문제 해결 */
}

.footer .f-about .footer-social ul li a:hover {
    background: #333;
    color: #fff;
}

.footer .newsletter-form {
    padding: 41px;
    border: 1px solid #eee;
}

.footer .newsletter-form form {}

.footer .newsletter-form input {
    width: 400px;
    border-bottom: 3px solid #eee;
    color: #333;
    height: 60px;
    display: inline-block;
    border: none;
    border: 2px solid #eee;
    border-radius: 0;
    font-weight: 500;
    font-size: 14px;
    display: block;
    width: 100%;
    padding: 0px 20px;
}

.footer .newsletter-form .button {
    display: inline-block;
    width: 100%;
}

.footer .newsletter-form .button .btn {
    height: 60px;
    width: 100%;
    display: block;
    margin-top: 14px;
}

.footer .footer-middle {
    padding-bottom: 55px;
    padding-top: 15px;
    background-color: #005BAB;
    background-image: url(/static/images/main/bg_footer.svg);
    background-position: 50% 100.2%;
    background-repeat: no-repeat;
    background-size: 1130px;
}

.footer .footer_menu {
    width: 100%;
    margin-bottom: 1%;
}

.footer .footer_menu li:first-child {
    font-size: clamp(10px, 2vw, 1.8vh);
    min-width: 25%;
}

.footer .footer_menu li:first-child a{
    font-size: clamp(16px, 2vw, 1.8vh);
    margin-bottom: 10px;
    font-weight: 500;
}

.footer .footer_menu li:not(:first-child) {
    /*margin-left: -5%;*/
    font-size: clamp(10px, 2vw, 1.8vh);
}

.footer #footer_left {
    display: flex;
    align-items: flex-start;
    padding-right: 5%;
}

.footer #footer_left #footer_left_content {
    margin-left: 20px;
    font-size: clamp(16px, 2vw, 1.6vh);
}

.footer #footer_left #footer_left_content a:first-child{
    font-weight: 600;
}

.footer #footer_left #footer_left_content a:not(:first-child){
    font-size: 0.8rem;
    line-height: 1.3rem;
}


.footer #footer_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer .copyright{
    text-align: center;
    color: #ffffff;
    font-size: 0.8rem;
}

.footer .single-footer {
    margin: 30px 0;
    color: #ffffff;
}

.footer .single-footer h3 {
    color: #333;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    text-transform: capitalize;
    margin-bottom: 25px;
}

/* Footer Link */
.footer .f-link ul li {
    margin-bottom: 2px;
    position: relative;
}


.footer .f-link ul li:hover:before {
    background: #333;
}

.footer.index2 .f-link ul li:hover:before {
    background: #333;
}

.footer .f-link ul li a {
    display: inline-block;
    color: #555;
    font-size: 14px;
    font-weight: 400;
    position: relative;
}

.footer .f-link ul li a:hover {
    color: #005bab;
    padding-left: 5px;
}

/* Footer Contact */
.footer .f-contact {
    display: flex;
}

.footer .f-contact p {
    color: #555;
    margin-bottom: 20px;
    line-height: 30px;
}

.footer .f-contact ul {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    padding-left: 2rem;
    width: 11.5rem;
}

.footer .f-contact ul li {
    display: inline-block;
    color: #555;
    font-size: 14px;
    font-weight: 400;
}

.footer .f-contact ul li a {
    display: inline-block;
    color: #ffffff;
    font-weight: 300;
    font-size: clamp(12px, 2vw, 1.4vh);
}

.footer .f-contact ul li a:hover {
    padding: 0;
    color: #ffffff;
    opacity: 70%;
}

.footer .f-contact ul li a i {}

.footer .f-contact ul li i {
    display: inline-block;
    margin-right: 7px;
    font-size: 17px;
    color: #005bab;

}

.footer .custom-flex {
    margin-right: -15px;
}

.footer .custom-flex li {
    width: calc(33.33% - 15px);
    margin-bottom: 15px;
    margin-right: 15px;
}

.footer .gallery ul {
    margin-left: -10px;
    overflow: hidden;
}

.footer .gallery ul li {
    float: left;
    margin: 10px 0 0 10px;
    padding: 0;
}

.footer .gallery ul li a {
    position: relative;
}

.footer .gallery ul li a:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #005bab;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.footer .gallery ul li a:hover:before {
    opacity: 0.8;
    visibility: visible;
}

.footer .gallery ul li a i {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 18px;
    color: #fff;
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -15px;
    margin-top: -15px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
}

.footer .gallery ul li a:hover i {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

.footer .gallery ul li img {
    width: 100px;
    height: 100px;
}

.footer .footer-bottom {}

.footer .footer-bottom .inner {
    padding: 30px 0;
    border-top: 2px solid #eee;
}

.footer .footer-bottom p {
    color: #555;
}

.footer .footer-bottom p a {
    font-weight: 400;
    display: inline-block;
    margin-left: 6px;
    color: #333;
}

.footer .footer-bottom p a:hover {
    color: #005bab;
}

.footer .footer-bottom .left {}

.footer .footer-bottom .right {
    text-align: right;
}


.footer .main-logo img{
    width: 150px !important;
}

.footer .main-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px !important;
}

@media (max-width: 1920px) {
    .footer .footer-item {
        font-size: 1rem;
        padding: 0.3rem 0.4rem;
        margin: 4px 2px;
    }

    .footer .footer-item:hover > .footer-item-desc {
        right: 55px;
        font-size: 0.8rem;
    }
}

@media (max-width: 1280px) {
    .footer .footer-item {
        font-size: 1rem;
        padding: 0.3rem 0.4rem;
        margin: 4px 2px;
    }

    .footer .footer-item:hover > .footer-item-desc {
        right: 55px;
        font-size: 0.8rem;
    }

    .footer .f-contact ul{
        width: 6.5rem;
    }

    .footer .footer_menu li:first-child a{
        font-size: 0.9rem;
    }

    .footer .f-contact ul li a {
        font-size: 0.75rem;
    }

    .footer #footer_left #footer_left_content{
        font-size: 0.9rem;
    }
    .footer #footer_left #footer_left_content a:not(:first-child){
        font-size: 0.8rem;
        line-height: 1.2rem;
    }

}



/*======================================
	End Footer	CSS
========================================*/